{% extends "base_site.html" %}

{% load var2css var2txt dict %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="{{ home }}projects/"><strong>Projets</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/"><strong>Projet "{{ project.titre }}"</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/scrumwall/"><strong>Scrum Wall</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/poker/"><strong>Planning Poker</strong></a>
		&nbsp;|&nbsp; <strong>Indicateurs</strong>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/features/"><strong>Fonctionnalit&eacute;s</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/sprints/"><strong>Sprints</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/problems/"><strong>Probl&egrave;mes</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/documents/"><strong>Documents</strong></a>
	</div>
{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
	<div align="center" id="content-main">
		Indicateurs :&nbsp;
		<a href="{{ home }}projects/{{ project.id }}/summary/">Synth&egrave;se des sprints</a>
		&nbsp;|&nbsp;
		<a href="{{ home }}projects/{{ project.id }}/velocity/">V&eacute;locit&eacute; et progression</a>
		&nbsp;|&nbsp;
		<a href="{{ home }}projects/{{ project.id }}/pareto/">Diagramme de Pareto</a>
		<br /><br /><br />
	
		<img style="width: 800px; height: 350px;" src="{{ url }}" />
		<br /><br /><br />
		<table>
			<thead>
				<tr>
					<th>#</th>
					<th>Fonctionnalit&eacute;</th>
					{% for l in labels %}
					<th style="width: 50px">{{ l }}</th>
					{% endfor %}
					<th style="width: 50px">Total</th>
					<th style="width: 100px" colspan="2">Total (%)</th>
				</tr>
			</thead>
			<tbody>
				{% for k in data|keys %}
					<tr class="{% cycle 'row1' 'row2' %}">
						<td><strong>{{ numbers|values:k }}</strong></td>
						<td>{{ k }}</td>
						{% for v in data|values:k %}
							<td align="right">{{ v }}</td>
						{% endfor %}
						<td align="right"><strong>{{ rows|values:k }}</strong></td>
						{% for v in taux|values:k %}
							<td align="right" bgcolor="#{{ colors|values:k }}"><strong>{{ v }} %</strong></td>
						{% endfor %}
					</tr>
				{% endfor %}
				<tr bgcolor="#eee">
					<td colspan="2"><strong>Total</strong></td>
					{% for t in cols %}
						<td align="right"><strong>{{ t }}</strong></td>
					{% endfor %}
					<td colspan="2">&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
