{% extends "base_site.html" %}

{% load i18n var2css var2txt dict %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="{{ home }}projects/"><strong>{% trans "Projets" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/"><strong>{{ project.titre }}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/scrumwall/"><strong>{% trans "Scrum Wall" %}</strong></a>
		&nbsp;|&nbsp; <strong>{% trans "Planning Poker" %}</strong>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/summary/"><strong>{% trans "Indicateurs" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/features/"><strong>{% trans "Fonctionnalités" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/sprints/"><strong>{% trans "Sprints" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/problems/"><strong>{% trans "Problèmes" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/documents/"><strong>{% trans "Documents" %}</strong></a>
	</div>
{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
	<div id="content-main" align="center">
		{% if not sprint and not opt %}
		<br />
		<span style="color:red">{% trans "Attention ! Aucun élément n'est affiché par défaut, veuillez préciser votre recherche avec les filtres." %}</span>
		<br />
		{% endif %}
		<br />
		{% trans "Afficher :" %}&nbsp;
		<a href=".">{% trans "Tout" %}</a>
		{% for sprint in sprints %}
		&nbsp;|&nbsp;
		<a href="?sprint={{ sprint.id }}">{{ sprint.titre }}</a>
		{% endfor %}
		<br /><br />
		{% trans "Filter :" %}&nbsp;
		<a href=".?opt=all{% if sprint %}&sprint={{ sprint }}{% endif %}">{% trans "Tous" %}</a>
		&nbsp;|&nbsp;
		<a href=".?opt=todo{% if sprint %}&sprint={{ sprint }}{% endif %}">{% trans "À définir" %}</a>
		&nbsp;|&nbsp;
		<a href=".?opt=done{% if sprint %}&sprint={{ sprint }}{% endif %}">{% trans "À valider" %}</a>
		<br /><br /><br />
		<table class="table">
			<thead>
				<tr>
					<th>{% trans "Fonctionnalité" %}</th>
					<th>{% trans "Note" %}</th>
					<th>{% trans "Effort" %}</th>
					<th>{{ user.user.first_name }}</th>
					<th>{% trans "Moyenne" %}</th>
					<th colspan="2">{% trans "Temps estimé" %}</th>
				</tr>
			</thead>
			<tbody>
				{% if not liste %}
					<tr>
						<td align="center" colspan="7">{% trans "Aucun élément à afficher" %}</td>
					</tr>
				{% else %}
				{% for l in liste %}
				<tr id="{{ l|values:"nid" }}" class="{% cycle 'row1' 'row2' %}">
					<td><a href="{{ home }}projects/{{ project.id }}/features/?target={{ l|values:"fid" }}#{{ l|values:"fid" }}">{{ l|values:"f" }}</a></td>
					<td><a href="{{ home }}projects/{{ project.id }}/features/{{ l|values:"fid" }}/notes/?target={{ l|values:"nid" }}#{{ l|values:"nid" }}">{{ l|values:"n" }}</a></td>
					<td align="center"><strong>{{ l|values:"effort" }}</strong></td>
					<td align="center">
						<form enctype="multipart/form-data" action=".?submit{% if opt %}&opt={{ opt }}{% endif %}{% if sprint %}&sprint={{ sprint }}{% endif %}#{{ l|values:"nid" }}" method="post">{% csrf_token %}
							<select name="effort"  onchange="submit()">
							{% for e in efforts %}
								<option value="{{ e|values:0 }}" {% ifequal e|values:0 l|values:"perso" %}selected{% endifequal %}>{{ e|values:1 }}</option>
							{% endfor %}
							</select>
							<input type="hidden" name="id" value="{{ l|values:"nid" }}" />
						</form>
					</td>
					{% if l|values:"poker" %}
					<form enctype="multipart/form-data" action=".?submit{% if opt %}&opt={{ opt }}{% endif %}{% if sprint %}&sprint={{ sprint }}{% endif %}#{{ l|values:"nid" }}" method="post" onsubmit="return test(event, this)">{% csrf_token %}
						<td align="center" onmouseout="UnTip()" onmouseover="Tip('{% for a in l|values:"poker" %}{{ a.utilisateur }} ( <strong>{{ a.effort }}</strong> )<br />{% endfor %}', TITLE, '{% trans "Estimations" %}', ABOVE, true, SHADOW, true, JUMPHORZ, true, WIDTH, 200)">
							<select name="avg" class="noborder" style="color:red">
							{% for e in efforts %}
								<option value="{{ e|values:0 }}" {% ifequal e|values:0 l|values:"avg" %}selected{% endifequal %}>{{ e|values:1 }}</option>
							{% endfor %}
							</select>
						</td>
						<td align="center">
							<input type="text" name="temps" value="{{ l|values:"temps" }}" size="2" style="color:red" />
						</td>
						<td align="center">
							<input type="hidden" name="id" value="{{ l|values:"nid" }}" />
							<input type="submit" value="{% trans "Valider" %}" />
						</td>
					</form>
					{% else %}
					<td colspan="3">&nbsp;</td>
					{% endif %}
				</tr>
				{% endfor %}
				{% endif %}
			</tbody>
		</table>
	</div>
	<script language="javascript">
		function test(event, form) {
			return true;
			if (window.confirm("{% trans "Sauvegarder la charge moyenne et le temps estimé ?" %}"))
				return true;
			else event.returnValue = false;
			return false;
		}
	</script>
{% endblock %}

{% block legend %}{% endblock %}
