{% extends "base_site.html" %}

{% load i18n var2css var2txt %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="{{ home }}projects/"><strong>{% trans "Projets" %}</strong></a>
	</div>
{% endblock %}

{% block content %}
	<div id="content-main">
		<br />
		<form enctype="multipart/form-data" action="." method="post">{% csrf_token %}
			<table>
			{{ form }}
			</table>
			<input type="submit" value="{% trans "Enregistrer" %}" {% if not user.user.is_staff %}disabled{% endif %} />
		</form>
	</div>
{% endblock %}

{% block legend %}{% endblock %}
{% block config %}{% endblock %}