{% extends "base_site.html" %}

{% load var2css var2txt dict %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<strong>Projets</strong>
	</div>
{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
	<div id="content-main" align="center" >
		<br />
		<table class="menus">
			<tr>
				<td>
					<div onclick="document.location='new'" class="menu">Nouveau projet</div>
				</td>
			</tr>
		</table>
		<br />
		<table class="notes">
		{% for list in projects %}
			<tr>
			{% for projet in list %}
				<td>
					<div id="{{ projet.id }}" class="note none" onclick="document.location='{{ projet.id }}'">
						<div class="bloc titre">{{ projet.titre }}</div>
						<div class="bloc projet">{{ projet.description|safe }}</div>
						<div class="bloc membres">{{ membres|values:projet.id|join:" &nbsp; " }}</div>
					</div>
					<div onclick="document.location='{{ projet.id }}/scrumwall/'" class="sousmenu blocking">Scrum Wall</div>
					<div onclick="document.location='{{ projet.id }}/velocity/'" class="sousmenu minor">Velocit&eacute; &amp; Progression</div>
					<div onclick="document.location='{{ projet.id }}/summary/{% if projet.running %}?sprint={{ projet.sprint }}{% endif %}'" class="sousmenu major">Synth&egrave;se</div>
					{% if projet.running %}
					<div onclick="document.location='{{ projet.id }}/sprints/{{ projet.sprint }}'" class="sousmenu critical">Sprint en cours</div>
					{% else %}
					<div class="sousmenu none">Aucun sprint en cours</div>
					{% endif %}
				</td>
			{% endfor %}
			</tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}

{% block legend %}{% endblock %}