{% extends "base_site.html" %}

{% load i18n var2css var2txt dict %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="{{ home }}projects/"><strong>{% trans "Projets" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/"><strong>{{ project.titre }}</strong></a>
		&nbsp;|&nbsp; <strong>{% trans "Scrum Wall" %}</strong>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/poker/"><strong>{% trans "Planning Poker" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/summary/"><strong>{% trans "Indicateurs" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/features/"><strong>{% trans "Fonctionnalités" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/sprints/"><strong>{% trans "Sprints" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/problems/"><strong>{% trans "Problèmes" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/documents/"><strong>{% trans "Documents" %}</strong></a>
	</div>
{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
	<div id="content-main" align="center">
		<br />
		{% trans "Afficher :" %}&nbsp;
		<a href=".">{% trans "Tout" %}</a>
		{% for sprint in sprints %}
		&nbsp;|&nbsp;
		<a href="?sprint={{ sprint.id }}">{{ sprint.titre }}</a>
		{% endfor %}
		<br /><br /><br />
		<table class="scrumwall" width="{{ taille }}px">
			<thead>
				<th style="width:{% if backlog %}16.65{% else %}20{% endif %}%;">{% trans "Fonctionnalité" %}</th>
				{% if backlog %}
				<th style="width:16.67%;">{% trans "Backlog" %}</th>
				{% endif %}
				<th style="width:{% if backlog %}16.67{% else %}20{% endif %}%;">{% trans "À faire" %}</th>
				<th style="width:{% if backlog %}16.67{% else %}20{% endif %}%;">{% trans "En cours" %}</th>
				<th style="width:{% if backlog %}16.67{% else %}20{% endif %}%;">{% trans "Livré" %}</th>
				<th style="width:{% if backlog %}16.67{% else %}20{% endif %}%;">{% trans "Terminée" %}</th>
			</thead>
			<tbody>
				{% for s in scrumwall %}
				<tr>
					<td style="width:{% if backlog %}16.65{% else %}20{% endif %}%;">
						<table class="table" width="100%">
							<tr>
								<td class="cellule {{ s|var2css:"p" }}" title="{{ s|values:"name" }}" onclick="document.location='../features/?target={{ s|values:"id" }}#{{ s|values:"id" }}'">
									<span>{{ s|values:"name" }}</span>
								</td>
							</tr>
						</table>
					</td>
					{% if backlog %}
					<td style="width:16.67%;">
						<table class="table" width="100%">
							{% for b in s|values:"spec" %}
							<tr>
								<td class="cellule {{ b.priorite|var2css:"p" }}" title="{{ b.titre }}" onclick="document.location='../features/{{ s|values:"id" }}/notes/?target={{ b.id }}#{{ b.id }}'">
									<span>{{ b.titre }}</span>
								</td>
							</tr>
							{% endfor %}
						</table>
					</td>
					{% endif %}
					<td style="width:{% if backlog %}16.67{% else %}20{% endif %}%;">
						<table class="table" width="100%">
							{% for t in s|values:"todo" %}
							<tr>
								<td class="cellule {{ t.priorite|var2css:"p" }}" title="{{ t.titre }}" onclick="document.location='../features/{{ s|values:"id" }}/notes/?target={{ t.id }}#{{ t.id }}'">
									<span>{{ t.titre }}</span>
								</td>
							</tr>
							{% endfor %}
						</table>
					</td>
					<td style="width:{% if backlog %}16.67{% else %}20{% endif %}%;">
						<table class="table" width="100%">
							{% for r in s|values:"run" %}
							<tr>
								<td class="cellule {{ r.priorite|var2css:"p" }}" title="{{ r.titre }}" onclick="document.location='../features/{{ s|values:"id" }}/notes/?target={{ r.id }}#{{ r.id }}'">
									<span>{{ r.titre }}</span>
								</td>
							</tr>
							{% endfor %}
						</table>
					</td>
					<td style="width:{% if backlog %}16.67{% else %}20{% endif %}%;">
						<table class="table" width="100%">
							{% for g in s|values:"gone" %}
							<tr>
								<td class="cellule {{ g.priorite|var2css:"p" }}" title="{{ g.titre }}" onclick="document.location='../features/{{ s|values:"id" }}/notes/?target={{ g.id }}#{{ g.id }}'">
									<span>{{ g.titre }}</span>
								</td>
							</tr>
							{% endfor %}
						</table>
					</td>
					<td style="width:{% if backlog %}16.67{% else %}20{% endif %}%;">
						<table class="table" width="100%">
							{% for d in s|values:"done" %}
							<tr>
								<td class="cellule {{ d.priorite|var2css:"p" }}" title="{{ d.titre }}" onclick="document.location='../features/{{ s|values:"id" }}/notes/?target={{ d.id }}#{{ d.id }}'">
									<span>{{ d.titre }}</span>
								</td>
							</tr>
							{% endfor %}
						</table>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
