{% extends "base_site.html" %}

{% load i18n var2css var2txt %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="{{ home }}projects/"><strong>{% trans "Projets" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/"><strong>{% trans "Projet" %} "{{ project.titre }}"</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/scrumwall/"><strong>{% trans "Scrum Wall" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/poker/"><strong>{% trans "Planning Poker" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/summary/"><strong>{% trans "Indicateurs" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/features/"><strong>{% trans "Fonctionnalités" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/sprints/"><strong>{% trans "Sprints" %}</strong></a>
			&nbsp;(&nbsp;
				<a href="{{ home }}projects/{{ project.id }}/sprints/{{ sprint.id }}/">"{{ sprint.titre }}"</a> 
				<!--
				&nbsp;-&nbsp; {% trans "Notes" %}
				&nbsp;-&nbsp; <a href="{{ home }}projects/{{ project.id }}/sprints/{{ sprint.id }}/tasks/">{% trans "Tâches" %}</a> 
				&nbsp;-&nbsp; <a href="{{ home }}projects/{{ project.id }}/sprints/{{ sprint.id }}/burndown/">{% trans "Burndown Chart" %}</a>
				&nbsp;-&nbsp; <a href="{{ home }}projects/{{ project.id }}/sprints/{{ sprint.id }}/releases/">{% trans "Livraisons" %}</a>
				&nbsp;-&nbsp; <a href="{{ home }}projects/{{ project.id }}/sprints/{{ sprint.id }}/meteo/">{% trans "Météo" %}</a>
				-->
			&nbsp;)
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/problems/"><strong>{% trans "Problèmes" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/documents/"><strong>{% trans "Documents" %}</strong></a>
	</div>
{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
	<div id="content-main" align="center" >
		<br />
		{% trans "Trier :" %}&nbsp;
		<a href="?sort=-priorite">{% trans "par priorité" %}</a>
		&nbsp;|&nbsp;
		<a href="?sort=etat">{% trans "par état" %}</a>
		&nbsp;|&nbsp;
		<a href="?sort=-priorite,etat">{% trans "par les deux" %}</a>
		&nbsp;-&nbsp;{% trans "Filtrer :" %}&nbsp;
		<a href="?todo&sort=-priorite">{% trans "à faire" %}</a>
		&nbsp;|&nbsp;
		<a href="?work&sort=-priorite">{% trans "en cours" %}</a>
		&nbsp;|&nbsp;
		<a href="?done&sort=-priorite">{% trans "terminés" %}</a>
		<br /><br />
		<table class="notes">
		{% for list in notes %}
			<tr>
			{% for note in list %}
				<td>
					<div id="{{ note.id }}" onclick="window.open('{{ home }}admin/projects/note/{{ note.id }}/', '_blank')" class="note {{ note.priorite|var2css:"p" }} {{ note.etat|var2css:"e" }}{% if note.target %} cible{% endif %}">
						<div class="bloc titre">{{ note.feature.titre }}<br />{{ note.titre }}</div>
						<div class="element gauche">{{ note.type|var2txt:"t" }}</div>
						<div class="element droite">{{ note.etat|var2txt:"e" }}</div>
						<div class="bloc description">{{ note.description|safe }}</div>
						<div class="element gauche">{{ note.temps_realise }} / {{ note.temps_estime }} ({{ note.effort }})</div>
						<div class="element droite">
							<a class="image" href="?d={{ note.id }}"><img title="{% trans "Confiance développeur(s)" %}" src="{{ home }}media/img/confiance/d{{ note.confiance_dev }}.png" /></a>
							<a class="image" href="?s={{ note.id }}"><img title="{% trans "Confiance Scrum Master" %}" src="{{ home }}media/img/confiance/s{{ note.confiance_sm }}.png" /></a>
							<a class="image" href="?p={{ note.id }}"><img title="{% trans "Confiance Product Owner" %}" src="{{ home }}media/img/confiance/p{{ note.confiance_po }}.png" /></a>
						</div>
					</div>
					{% if user.user.is_staff %}
					<div class="formulaire">
						<form enctype="multipart/form-data" action=".#{{ note.id }}" method="post" align="center">{% csrf_token %}
							<select name="etat" onchange="submit()">
								<option value="0" {% ifequal note.etat '0' %}selected{% endifequal %}>{% trans "Backlog" %}</option>
								<option value="1" {% ifequal note.etat '1' %}selected{% endifequal %}>{% trans "À faire" %}</option>
								<option value="2" {% ifequal note.etat '2' %}selected{% endifequal %}>{% trans "En cours" %}</option>
								<option value="3" {% ifequal note.etat '3' %}selected{% endifequal %}>{% trans "Livré" %}</option>
								<option value="4" {% ifequal note.etat '4' %}selected{% endifequal %}>{% trans "Terminé" %}</option>
							</select>
							<select name="priorite" onchange="submit()">
								<option value="0" {% ifequal note.priorite '0' %}selected{% endifequal %}>{% trans "Aucune" %}</option>
								<option value="1" {% ifequal note.priorite '1' %}selected{% endifequal %}>{% trans "Annulé" %}</option>
								<option value="2" {% ifequal note.priorite '2' %}selected{% endifequal %}>{% trans "Possible" %}</option>
								<option value="3" {% ifequal note.priorite '3' %}selected{% endifequal %}>{% trans "Souhaitable" %}</option>
								<option value="4" {% ifequal note.priorite '4' %}selected{% endifequal %}>{% trans "Indispensable" %}</option>
								<option value="5" {% ifequal note.priorite '5' %}selected{% endifequal %}>{% trans "À spécifier" %}</option>
							</select>
							<input type="hidden" name="id" value="{{ note.id }}" />
						</form>
					</div>
					{% endif %}
				</td>
			{% endfor %}
			</tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}
