{% extends "base_site.html" %}

{% load i18n var2css var2txt %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="{{ home }}projects/"><strong>{% trans "Projets" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/"><strong>{{ project.titre }}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/scrumwall/"><strong>{% trans "Scrum Wall" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/poker/"><strong>{% trans "Planning Poker" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/summary/"><strong>{% trans "Indicateurs" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/features/"><strong>{% trans "Fonctionnalités" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/sprints/"><strong>{% trans "Sprints" %}</strong></a>
			&nbsp;(&nbsp;
				{{ sprint.titre }}
				&nbsp;-&nbsp; <a href="{{ home }}projects/{{ project.id }}/sprints/{{ sprint.id }}/notes/">{% trans "Notes" %}</a> 
				&nbsp;-&nbsp; <a href="{{ home }}projects/{{ project.id }}/sprints/{{ sprint.id }}/tasks/">{% trans "Tâches" %}</a> 
				&nbsp;-&nbsp; <a href="{{ home }}projects/{{ project.id }}/sprints/{{ sprint.id }}/burndown/">{% trans "Burndown Chart" %}</a>
				&nbsp;-&nbsp; <a href="{{ home }}projects/{{ project.id }}/sprints/{{ sprint.id }}/releases/">{% trans "Livraisons" %}</a>
				&nbsp;-&nbsp; <a href="{{ home }}projects/{{ project.id }}/sprints/{{ sprint.id }}/meteo/">{% trans "Météo" %}</a>
			&nbsp;)
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/problems/"><strong>{% trans "Problèmes" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/documents/"><strong>{% trans "Documents" %}</strong></a>
	</div>
{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
	<div id="content-main" align="center">
		<table class="menus">
			<tr>
				<td>
					<div onclick="document.location='burndown'" class="menu">
						{% trans "Burndown chart" %}
					</div>
				</td>
				<td>
					<div onclick="document.location='releases'" class="menu">
						{% trans "Livraisons" %}
					</div>
				</td>
				<td>
					<div onclick="document.location='meteo'" class="menu">
						{% trans "Météo" %}
					</div>
				</td>
			</tr>
		</table>
		<br />
		<table class="menus">
			<tr>
				<td>
					<div onclick="document.location='notes'" class="button">
						{% trans "Notes" %}
						<br /><br />
						<span class="info">{{ nbn }}</span>
					</div>
				</td>
				<td>
					<div onclick="document.location='tasks'" class="button">
						{% trans "Tâches" %}
						<br /><br />
						<span class="info">{{ nbt }}</span>
					</div>
				</td>
			</tr>
		</table>
		<br /><br />
		<h1>{% trans "Notes de sprint urgentes" %}</h1>
		<br />
		<table class="notes">
		{% for list in notes %}
			<tr>
			{% for note in list %}
				<td>
					<div class="note {{ note.priorite|var2css:"p" }} {{ note.etat|var2css:"e" }}">
						<div class="bloc titre">{{ note.titre }}</div>
						<div class="element gauche">{{ note.type|var2txt:"t" }}</div>
						<div class="element droite">{{ note.etat|var2txt:"e" }}</div>
						<div class="bloc description">{{ note.description|safe }}</div>
						<div class="element gauche">{{ note.temps_realise }} / {{ note.temps_estime }}</div>
						<div class="element droite">
							<img title="{% trans "Confiance développeur(s)" %}" src="{{ home }}media/img/confiance/d{{ note.confiance_dev }}.png" />
							<img title="{% trans "Confiance Scrum Master" %}" src="{{ home }}media/img/confiance/s{{ note.confiance_sm }}.png" />
							<img title="{% trans "Confiance Product Owner" %}" src="{{ home }}media/img/confiance/p{{ note.confiance_po }}.png" />
						</div>
					</div>
				</td>
			{% endfor %}
			</tr>
		{% endfor %}
		</table>
		<br /><br />
		<h1>{% trans "Tâches urgentes" %}</h1>
		<br />
		<table class="notes">
			{% for list in tasks %}
				<tr>
				{% for task in list %}
					<td>
						<div class="note {{ task.priorite|var2css:"p" }} {{ task.etat|var2css:"e" }}">
							<div class="bloc titre">{{ task.titre }}</div>
							<div class="element gauche">{{ task.priorite|var2txt:"p" }}</div>
							<div class="element droite">{{ task.etat|var2txt:"e" }}</div>
							<div class="bloc description">{{ task.description|safe }}</div>
							<div class="element gauche"></div>
							<div class="element droite">
								<img title="{% trans "Confiance développeur(s)" %}" src="{{ home }}media/img/confiance/d{{ task.confiance_dev }}.png" />
								<img title="{% trans "Confiance Scrum Master" %}" src="{{ home }}media/img/confiance/s{{ task.confiance_sm }}.png" />
								<img title="{% trans "Confiance Product Owner" %}" src="{{ home }}media/img/confiance/p{{ task.confiance_po }}.png" />
							</div>
						</div>
					</td>
				{% endfor %}
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
