{% extends "base_site.html" %}

{% load i18n var2css var2txt %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="{{ home }}projects/"><strong>{% trans "Projets" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/"><strong>{% trans "Projet" %} "{{ project.titre }}"</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/scrumwall/"><strong>{% trans "Scrum Wall" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/poker/"><strong>{% trans "Planning Poker" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/summary/"><strong>{% trans "Indicateurs" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/features/"><strong>{% trans "Fonctionnalités" %}</strong></a>
		&nbsp;|&nbsp; <strong>{% trans "Sprints" %}</strong>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/problems/"><strong>{% trans "Problèmes" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/documents/"><strong>{% trans "Documents" %}</strong></a>
	</div>
{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
	<div align="center" id="content-main">
		<br />
		<table class="menus">
			<tr>
				<td>
					<div onclick="document.location='new'" class="menu">
						{% trans "Nouveau sprint" %}
					</div>
				</td>
			</tr>
		</table>
		<br />
		{% trans "Trier :" %}&nbsp;
		<a href="?sort=-date_debut">{% trans "par date" %}</a>
		&nbsp;-&nbsp;{% trans "Filtrer :" %}&nbsp;
		<a href="?todo&sort=-date_debut">{% trans "à faire" %}</a>
		&nbsp;|&nbsp;
		<a href="?done&sort=-date_debut">{% trans "terminés" %}</a>
		<br /><br />
		<table class="notes">
		{% for list in sprints %}
			<tr>
			{% for sprint in list %}
				<td>
					<div id="{{ sprint.id }}" onclick="document.location='{{ sprint.id }}/'" class="note {{ sprint.urgence }} {{ sprint.etat }}">
						<div class="bloc titre">{{ sprint.titre }}</div>
						<div class="element gauche">{{ sprint.date_debut|date:"d/m/Y" }}</div>
						<div class="element droite">{{ sprint.date_fin|date:"d/m/Y" }}</div>
						<div class="bloc description">{{ sprint.objectif|safe }}</div>
						<div class="element gauche">{{ sprint.temps_realise }} / {{ sprint.temps_estime }}<!-- ({{ sprint.notes }}) --></div>
						<div class="element droite">
							<a class="image" href="?d={{ sprint.id }}"><img title="{% trans "Confiance développeur(s)" %}" src="{{ home }}media/img/confiance/d{{ sprint.confiance_dev }}.png" /></a>
							<a class="image" href="?s={{ sprint.id }}"><img title="{% trans "Confiance Scrum Master" %}" src="{{ home }}media/img/confiance/s{{ sprint.confiance_sm }}.png" /></a>
							<a class="image" href="?p={{ sprint.id }}"><img title="{% trans "Confiance Product Owner" %}" src="{{ home }}media/img/confiance/p{{ sprint.confiance_po }}.png" /></a>
						</div>
					</div>
					{% if user.is_superuser %}
					<div class="formulaire">
						<form enctype="multipart/form-data" action=".#{{ sprint.id }}" method="post" align="center">{% csrf_token %}
							<label>{% trans "Dates du sprint :" %}</label><br />
							<input name="date_debut" type="text" size="10" value="{{ sprint.date_debut|date:"Y-m-d" }}" />
							<input name="date_fin" type="text" size="10" value="{{ sprint.date_fin|date:"Y-m-d" }}" />
							<input type="hidden" name="id" value="{{ sprint.id }}" />
							<input type="submit" value="{% trans "OK" %}" />
						</form>
					</div>
					{% endif %}
					<div onclick="document.location='{{ sprint.id }}/burndown/'" class="graphique">
						<img src="{{ sprint.url }}" />
					</div>
				</td>
			{% endfor %}
			</tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}
