{% extends "base_site.html" %}

{% load i18n var2css var2txt %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="{{ home }}projects/"><strong>{% trans "Projets" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/"><strong>{% trans "Projet" %} "{{ project.titre }}"</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/scrumwall/"><strong>{% trans "Scrum Wall" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/poker/"><strong>{% trans "Planning Poker" %}</strong></a>
		&nbsp;|&nbsp; <strong>{% trans "Indicateurs" %}</strong>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/features/"><strong>{% trans "Fonctionnalités" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/sprints/"><strong>{% trans "Sprints" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/problems/"><strong>{% trans "Problèmes" %}</strong></a>
		&nbsp;|&nbsp; <a href="{{ home }}projects/{{ project.id }}/documents/"><strong>{% trans "Documents" %}</strong></a>
	</div>
{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
	<div id="content-main" align="center">
		{% trans "Indicateurs :" %}&nbsp;
		<a href="{{ home }}projects/{{ project.id }}/summary/">{% trans "Synthèse des sprints" %}</a>
		&nbsp;|&nbsp;
		<a href="{{ home }}projects/{{ project.id }}/velocity/">{% trans "Vélocité et progression" %}</a>
		&nbsp;|&nbsp;
		<a href="{{ home }}projects/{{ project.id }}/pareto/">{% trans "Diagramme de Pareto" %}</a>
		<br /><br /><br />
		
		<h1>{% trans "Velocity Chart" %}</h1>
		<br />
		<img style="width: 800px; height: 350px;" src="{{ url1 }}" />
		<br /><br /><br />
		<h1>{% trans "Progression Chart" %}</h1>
		<br />
		<img style="width: 800px; height: 350px;" src="{{ url2 }}" />
	</div>
{% endblock %}

{% block legend %}{% endblock %}
{% block config %}{% endblock %}