{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}Administration {% if title %}| {{ title }}{% endif %}{% endblock %}

{% block branding %}
<h1 id="site-name">Administration</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}
<![if !IE 6]>
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/not-iewin.css" />
<![endif]>

<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/with-iewin.css" />
<![endif]-->
{% endblock %}