<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ theme }}css/base.css" />
        <link rel="stylesheet" type="text/css" href="{{ theme }}css/changelists.css" />
        <link rel="stylesheet" type="text/css" href="{{ theme }}css/forms.css" />
        <link rel="stylesheet" type="text/css" href="{{ theme }}css/widgets.css" />
        <link rel="stylesheet" type="text/css" href="{{ theme }}css/not-iewin.css" />
        {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{{ theme }}css/rtl.css{% endblock %}" />{% endif %}
        {% block extrastyle %}{% endblock %}
        {% block extrahead %}{% endblock %}
        {% block blockbots %}<meta name="robots" content="index, follow, noarchive" />{% endblock %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block analytics %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '']);
            _gaq.push(['_trackPageview']);
            
            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            }) ();
        </script>
        {% endblock %}
    </head>
    
    {% load i18n %}
    <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
        <script type="text/javascript" src="{{ theme }}js/tooltip.js"></script>
        <!-- Container -->
        <div id="container">
            {% if not is_popup %}
            <!-- Header -->
            <div id="header" class="{% block hlogin %}nologin{% endblock %}">
                <div id="branding">
                {% block branding %}{% endblock %}
                </div>
                {% if user.user.is_authenticated %}
                <div id="user-tools">
                    <span style="color:yellow">{% trans 'Welcome,' %} <strong>{% firstof user.user.first_name user.user.username %}</strong>.</span> 
                    {% block userlinks %}{% url django-admindocs-docroot as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}<a href="{{ home }}accounts/password_change/">{% trans 'Change password' %}</a> / <a href="{{ home }}accounts/logout/">{% trans 'Log out' %}</a> / <a style="color:yellow" target="_blank" href="{{ home }}admin/">{% trans "Administration" %}</a>{% endblock %}</div>
                {% endif %}
                {% block nav-global %}{% endblock %}
            </div>
            <!-- END Header -->
            {% block breadcrumbs %}
                <div class="breadcrumbs">
                    <a href="{{ home }}">{% trans 'Home' %}</a>
                    {% if title %}&rsaquo; {{ title }}{% endif %}
                </div>
            {% endblock %}
            {% endif %}
        
            {% if messages %}
            <ul class="messagelist">{% for message in messages %}<li>{{ message|safe }}</li>{% endfor %}</ul>
            {% endif %}
            {% if erreurs %}
            <ul class="errorlist">{% for erreur in erreurs %}<li>{{ erreur|safe }}</li>{% endfor %}</ul>
            {% endif %}
        
            <!-- Content -->
            <div id="content" class="{% block coltype %}colM{% endblock %}">
                <br />
                {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                <br />
                {% block pretitle %}{% endblock %}
                {% block content %}
                {% block object-tools %}{% endblock %}
                {{ content }}
                {% endblock %}
                
                {% block sidebar %}{% endblock %}
                <br class="clear" />
            </div>
            <!-- END Content -->
            
            {% block legend %}{% endblock %}
            {% block config %}{% endblock %}
            
            {% block footer %}
            <div id="footer" class="{% block flogin %}nologin{% endblock %}">
                &copy; 2009-2011 - <a href="mailto:marc@debnet.fr">Marc DEBUREAUX</a>
            </div>
            {% endblock %}
        </div>
        <!-- END Container -->
    </body>
</html>
